* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* border:1px solid lime; */
}
html{
    background-color: #091534;
}
html, body {
	height: 100%;
	}