.inputText{
    width: 320px;
    height: 36px;
    border:0px;
    border-radius: 4px;
    padding: 0px 8px;
}
.form{
    display:flex;
    flex-direction:column;
    padding: 60px 50px 100px 50px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.5);
}